<div class="outer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <form class="row g-3 form panel border" *ngIf="signupForm" [formGroup]="signupForm" (ngSubmit)="signup()">
          <h2>Sign Up</h2>
          <hr class="mb-4">
          <div class="form-group pt-2">
            <div class="input-field">
              <span class="fa fa-user p-2"></span>
              <input type="text" placeholder="Username" formControlName="username">
            </div>
          </div>
          <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
          <div class="form-group d-flex pt-2">
            <div class="col me-2 input-field">
              <span class="fa fa-lock p-2"></span>
              <input [type]="type" placeholder="Password" formControlName="password">
              <span (click)="hideShowPass()" [class]="'fa fa-eye' + slash"></span>
            </div>
            <div class="col input-field">
              <span class="fa fa-lock p-2"></span>
              <input [type]="type" placeholder="Rewright password" formControlName="password2">
              <span (click)="hideShowPass()" [class]="'fa fa-eye' + slash"></span>
            </div>
          </div>
          <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password') ||
                        signupForm.controls['password2'].dirty && signupForm.hasError('required', 'password2') || 
                        (signupForm.controls['password'].value !== signupForm.controls['password2'].value)" 
                        class="text-danger">
            *Password is required or rewrite passwords not equal
          </small>
          <div class="form-group pt-2">
            <div class="input-field">
              <span class="fas fa-envelope-square p-2"></span>
              <input type="email" placeholder="Email" formControlName="email">
            </div>
          </div>
          <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
          <div class="form-group d-flex pt-1">
            <div class="col me-2 input-field">
              <span class="fas fa-user-alt p-2"></span>
              <input type="text" placeholder="Firstname" formControlName="firstName">
            </div>
            <div class="col input-field">
              <span class="fas fa-user-alt p-2"></span>
              <input type="text" placeholder="Lastname" formControlName="lastName">
            </div>
          </div>
          <div class="form-group pt-2">
            <div class="input-field">
              <span class="fas fa-phone p-2"></span>
              <input type="phone" placeholder="Phone" formControlName="phone">
            </div>
          </div>
          <div class="form-group d-flex pt-2">
            <div class="col me-2 input-field">
              <span class="fas fa-home p-2"></span>
              <input type="text" placeholder="Apartment" formControlName="apartment">
            </div>
            <div class="col input-field">
              <span class="fas fa-home p-2"></span>
              <input type="text" placeholder="Street" formControlName="street">
            </div>
            </div>
          <div class="form-group d-flex pt-2">
            <div class="col me-2 input-field">
              <span class="fas fa-home p-2"></span>
              <input type="text" placeholder="City" formControlName="city">
            </div>
            <div class="col input-field">
              <span class="fas fa-home p-2"></span>
              <input type="text" placeholder="Country" formControlName="country">
            </div>
          </div>
          <div class="col-md-12 py-4">
            <button type="submit" class="btn btn-primary w-100 btn-block mt-4" [disabled]="!signupForm.valid">Sign Up</button>
            <div class="text-center pt-2 text-muted">Allready have account?
              <a routerLink="/auth/login" id="forget">Login</a>
            </div>
          </div>
          <div class="py-2 bordert">
            <div class="text-center py-3 social">
              <a href="https://www.facebook.com" target="_blank" class="px-2"><span class="fab fa-facebook p-2"></span></a>
              <a href="https://www.google.com" target="_blank" class="px-2"><span class="fab fa-google p-2"></span></a>
              <a href="https://www.github.com" target="_blank" class="px-2"><span class="fab fa-github p-2"></span></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>